<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="/public/css/userStyle.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= user.name %></title>
</head>
<body>
    <!-- Modal Create a Post -->
    <div class="modal fade" id="modalPost" tabindex="-1" role="dialog" aria-labelledby="modalPost" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Post a Workout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/onfitness/workouts" method="POST" enctype="multipart/form-data" >
                            <input type="hidden" id="user_id_workoutpost" name="user_id_wp" value= <%= user.id %>               
                        <label for="myfile">Select a file:</label>
                            <input type="file" id="media" name="media">
                        <div><span id="workoutPostResult" class="alert-error"></span></div>
                        <label for="exercise_type">Exercise Type</label><br>
                            <input type="text" id="exercise_type" name="exercise_type" required><br>
                        <label for="exercise_description">Exercise Description</label><br>
                            <textarea id="exercise_description" name="exercise_description" rows="4" cols="50" required></textarea>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm btn-block" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success btn-sm btn-block">Post</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit Profile -->
    <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfile" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Your Profile</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/onfitness/workouts/user/about" method="POST" enctype="multipart/form-data">
                    <input type="hidden" id="user_id_profile" name="user_id_pf" value= <%= user.id %>               
                    <label for="myProfilePic">Select a Picture:</label>
                        <input type="file" id="pic_profile" name="pic_profile" required>
                    <label for="about_me">About Me:</label><br>
                    <textarea id="about_me" name="about_me" rows="4" cols="50"><%= user.about_me %></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm btn-block" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success btn-sm btn-block updateProfile">Save changes</button>
                    </div>
                </form>
          </div>
        </div>
      </div>
    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <!--Nav Bar -->
                    <nav class="navbar navbar-expand-lg cover">
                        <a class="btn btn-outline-light btn-block nav-btn" style="white-space: nowrap;" href="/onfitness/user/<%= sessionId%>">
                          <img src="/public/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">OnFitness
                        </a>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                              <li><a data-toggle="modal" data-target="#editProfile"  class="btn btn-outline-light nav-btn btn-block" <%= hide === false ? 'hidden' : '' %>>Edit Profile</a></li>
                              <li><a href="/onfitness/users/searchAll" class="btn btn-outline-light nav-btn btn-block">Search Users</a></li>
                              <li><a href="/auth/logout" class="btn btn-outline-light nav-btn btn-block">Log Out</a></li>
                            </ul>
                          </div>
                    </nav>
                    <div class="row media align-items-end profile-head">
                        <div class="col-3 profile mr-3">
                            <img src="/<%= user.pic_path.replace(/\\/g, '/') %>" alt="..." width="130" class="rounded mb-2 img-thumbnail" style="display: block;">
                        </div>
                        <div class="col-9 media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0"> <%= user.name %></h4>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"><%= postCount %></h5><small class="text-muted"> <i class="fas fa-image mr-1"></i><%= postCount > 1 ? 'Photos' : 'Photo' %></small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"><%= likeCount %></h5><small class="text-muted"><a href="<%= likeCount == 0 ? '#' : '/onfitness/workouts/likes/' + user.id %>"><i id="icon" class="fas fa-thumbs-up"></i><%= likeCount > 1 ? 'Likes' : 'Like' %></a></small>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0">About Me</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <textarea style="width: 100%; height: 100px; resize: none;" class="input-about" disabled="disabled"><%= user.about_me %></textarea>
                    </div>
                </div>
                <!-- Button trigger modal -->
                <div class="px-4 py-3">
                    <button type="button" class="btn btn-outline-dark btn-sm btn-block" data-toggle="modal" data-target="#modalPost" <%= hide === false ? 'hidden' : '' %>>Post a Workout</button>
                </div>  
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">My Workouts</h5>
                        <form action="/onfitness/workouts/exerciseType/" method="GET">
                            <div class="input-group" style="width: auto;">
                                <input type="text" name="search_type"  class="form-control" placeholder="Search Workout by Type" >
                                <input type="hidden" id="user_id_search" name="user_id_sc" value= <%= user.id %>>
                                <div class="input-group-btn">
                                <button class="btn btn-default"  type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <% if (workoutPost) { %>
                            <% for (let i=0; i<workoutPost.length; i++) { %>
                                <div class="col" style="margin: auto;">
                                    <div class="card h-100" style="width: 23rem;">
                                        <img src="/<%= workoutPost[i].path.replace(/\\/g, '/') %>" class="card-img-top d-block w-100" />
                                        <div class="card-body">
                                            <h5 class="card-title"><input class="input-display" id="type<%= [i]%>" disabled="disabled" value="<%= workoutPost[i].exercise_type %>"></h5>
                                            <div>
                                                <textarea style="width: 100%; resize: none;" class="input-display" id="description<%= [i]%>" disabled="disabled"><%= workoutPost[i].exercise_description %></textarea>
                                            </div>
                                            <div><span id="alertLike<%= [i]%>" class="alert-error"></span></div>
                                            <button class="btn btn-primary update" id="save<%= [i]%>" value="<%= workoutPost[i].id %>" hidden>Save</button>
                                        </div>
                                        <div class="card-footer">
                                            <div class="container">
                                                <input type="hidden" id="workoutPostId<%=[i]%>" name="workoutPostId" value="<%= workoutPost[i].id %>">
                                                <input type="hidden" id="userId<%=[i]%>" name="userId" value="<%= user.id %>">
                                                <button class="btn like" id="like<%= i%>" type="submit" data-toggle="tooltip" title="Like">
                                                    <i id="icon" class="fas fa-thumbs-up"></i>
                                                </button>
                                                <button class="btn edit" id="editId<%= i%>" data-toggle="tooltip" title="Edit" value="disable/enable" <%= hide === false ? 'hidden' : '' %>><i class="fas fa-edit"></i></button>
                                                <button class="btn delete" data-toggle="tooltip" title="Delete" value="<%= workoutPost[i].id %>" <%= hide === false ? 'hidden' : '' %>><i class="fas fa-trash-alt"></i></button>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            <% }; %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        var socket = io('http://localhost:3000');
        socket.on('error', function (data) {
            
            if(data.message !== undefined && data.message === "This post has already been liked by you."){
               alert("This post has already been liked by you");
            }
               
            
            $('#workoutPostResult').append(data.message);
            $('#workoutPostResult').append(data);
            $("#workoutPostResult").show();
        });
        
        $('.delete').click(function(){
            var url_id = $(this).val();
            $.ajax({
                type:"DELETE",
                url: '/onfitness/workouts/' + url_id,
                data: {_method:'delete'}
            })
            location.reload(true);
        })

        $('.update').click(function(){
            var url_id = $(this).val();
            var id = $(this).attr('id').substr(4);
            var type = $('#type' + id).val();
            var description = $('#description' + id).val();
            $.ajax({
                type:"PATCH",
                url: '/onfitness/workouts/' + url_id,
                data: {_method:'patch',
                       description : description,
                       type: type,  
                       url_id: url_id  
                }
            })
            location.reload(true);
        })
        
        $(".edit").click(function() 
        {   
            var id = $(this).attr('id').substr(6);            
            $("#description" + id).attr('disabled', !$("#description"+ id).attr('disabled'));
            $("#type" + id).attr('disabled', !$("#type" + id).attr('disabled'));
            $("#save" + id).attr('hidden', !$("#save" + id).attr('hidden'));
            
            if ($('#description' + id).hasClass('input-display')){
                $( "#description" + id).removeClass("input-display")
            } else {
                $('#description' + id).addClass("input-display");
            }

            if ($('#type' + id).hasClass('input-display')){
                $( "#type" + id ).removeClass("input-display")
            } else {
                $('#type' + id).addClass("input-display");
            }
        });  
        
        $(".like").on("click", function (e) 
        {
            var id = $(this).attr('id').substr(4);
            var workoutPostId = $('#workoutPostId' + id).val();
            console.log(workoutPostId);
            var userId = $('#userId' + id).val();
            console.log(userId)
            $.ajax({
                type:"POST",
                url: '/onfitness/workouts/like',
                data: {_method:'post',
                       workoutPostId : workoutPostId,
                       userId: userId  
                },
                success: function(data){
                    console.log(data);
                }
            });
        });
    </script>
</body>
</html>